[submodule "contrib/libcork"]
	path = contrib/libcork
	url = https://github.com/shadowsocks/libcork.git
	ignore = dirty
[submodule "contrib/micoro"]
	path = contrib/micoro
	url = https://github.com/mikewei/micoro.git
[submodule "contrib/libev"]
	path = contrib/libev
	url = https://github.com/enki/libev.git
[submodule "contrib/pt"]
	path = contrib/pt
	url = https://github.com/zserge/pt.git
[submodule "contrib/logger"]
	path = contrib/logger
	url = https://github.com/shiffthq/logger.git
