# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.swp
tags

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/*

# Misc
.phony_target
.xinit_done
.xopt/*
include/snippet/*.h
